@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: Calluna sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
    font-family: Calluna sans;
    text-decoration: none;
    color: slateblue;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8em;
}
.navigation a {
    color: slateblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover {
    color: #3a6cf4
}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/271043655_230016535962137_5510142266882074143_n.jpg) no-repeat;
    background-size: contain;
    background-position: right;
}
.main h2 {
    color: rgb(109, 109, 109);
    font-size: 1.4em;
    font-weight: 450;
    text-transform: uppercase;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: slateblue;
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: 580;
}
.main h3 {
    color: rgb(109, 109, 109);
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.main-button {
    color: #f0f0f0;
    background-color: slateblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display:inline-block;
    padding: 0.9375em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.8s ease;
}
.main-button:hover {
    background-color:rgb(82, 3, 156);
    transform: scale(1.1)
}
.social-icons a {
    color: slateblue;
    font-size: 1.7em;
    padding-right: 18px;
    margin-left: 10px;
}
.title {
    display: flex;
    justify-content: center;
    color: rgb(100, 0, 194);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card { 
    background-color: #fff;
    width: 21.2em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    transition: 0.7s ease;
}
.card:hover {
    transform: scale(1.1)
}
.icon {
    color: rgb(116, 56, 172);
    font-size: 8em;
    text-align: center;
}
.info {
    text-align: center;
}
.info p {
    color:rgb(109, 109, 109);
}
.info h3 {
    color: rgb(116, 56, 172);
    font-size: 1.2em;
    font-weight: 700;
    margin: 5px;
}
.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f7f7f7;

}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    align-content: center;
    font-family: Calluna sans;
}


footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
    color:#536b60;
    font-weight: 500;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
    color: rgb(129, 129, 129);
}

footer .follow {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Calluna sans;

}

footer .logo2 {
    font-family: Calluna sans;
    font-size: 40px;
    color: #465b52;
    line-height: 36.4px;
    vertical-align:baseline;
    font-weight: 300;
    margin-bottom: 80px;
}

footer span {
    margin-left: 10px;
    font-family: Calluna sans;
    font-size: 40px;
    color: #465b52;
    line-height: 36.4px;
    vertical-align:baseline;
    font-weight: 300;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover, footer a:hover{
    color:#088178;
}



footer .copyright {
    width: 100%;
    text-align: center;
    font-family: Calluna sans;
    color: #465b52;
}

footer .copyright p {
    color: #465b52;
}

#mono {
    color: #465b52;
}

footer p {
    color:rgb(109, 109, 109)
}
